<h1>{{user.firstName}} {{user.lastName}}</h1>
{{#if owner}}
<a href="/account/edit"><button>Edit Account</button></a>
{{/if}}

<h3>Contact Info</h3>
{{#if user.phone}}
<label>Phone: <p>{{user.phone}}</p></label>
{{/if}}
<label>Email: <p>{{user.email}}</p></label>

<h2>{{#if owner}}Your{{else}}{{nameApostrophe user.firstName}}{{/if}} Tags</h2>
<ul>
  {{#each user.tags}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<div class="infoBox">
  <h2>{{#if owner}}Your{{else}}{{nameApostrophe user.firstName}}{{/if}} Organizations</h2>
  <ul>
    {{#each user.organizations}}
    <li><a href="/organizations/{{o_id}}">{{name}}</a></li>
    {{/each}}
  </ul>
</div>

<div class="infoBox">
  <h2>Organizations {{#if owner}}You're{{else}}{{user.firstName}} Is{{/if}} Interested In</h2>
  <ul>
    {{#each user.interestedOrgs}}
    <li><a href="/organizations/{{o_id}}">{{name}}</a></li>
    {{/each}}
  </ul>
</div>