<h1>{{user.firstName}} {{user.lastName}}</h1>
<a href="/account/edit">Edit Account</a>
<a href="/account/delete">Delete Account</a>

<h2>Your Tags</h2>
<ul>
  {{#each user.tags}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h2>Your Organizations</h2>
<ul>
  {{#each user.organizations}}
  <li><a href="/organizations/{{o_id}}">{{name}}</a></li>
  {{/each}}
</ul>

<h2>Organizations You're Interested In</h2>
<ul>
  {{#each user.interestedOrgs}}
  <li><a href="/organizations/{{o_id}}">{{name}}</a></li>
  {{/each}}
</ul>