<form id="registrationForm" method="post" action="/api/users?_method=PATCH">
  <div class="textInputs">
    <label>
      First Name
      <input type="text" name="firstName" value="{{user.firstName}}">
    </label>

    <label>
      Last Name
      <input type="text" name="lastName" value="{{user.lastName}}">
    </label>


    <label>
      Phone Number
      <input type="tel" name="phone" value="{{user.phone}}">
    </label>

  </div>

  <div class="centered">
    <h3>Select Tags:</h3>
    <p class="subtext">hold ctrl/cmd to select multiple</p>
    <select id="tagSelection" name="tags" multiple size="5">
        {{#each knownTags}}
        <option value="{{this}}" {{#if (listContains this ../userTags)}}selected{{/if}}>
        {{this}}
        </option>
        {{/each}}
    </select>
  </div>

  <div class="centered">
    <input id="addTagInput">
    <button id="addTagButton">Add Tag</button>
  </div>

  <button>Save</button>
</form>

<div id="errorDiv" class="errors centered" hidden>
  <p id="errorMessage"></p>
</div>