{{#if user_name}}
  <h3>Welcome, {{user_name}}!</h3>
<p> Here are some organizations we think you'd love.</p>
<br>
<div id="recommendedOrgsDiv" class="displayOrgsDiv">
  <h2>Recommended Organizations</h2>
  {{#if (listEmpty recommendedOrgs)}}
  <p> We can't find any organizations you might like. Try expanding your interests by editing your account page. </p>
  {{else}}
  {{#each recommendedOrgs}}
  <a href="/organizations/{{o_id}}">
  <div class="displayOrg">
    <h3>{{name}}</h3>
    <p>{{interestCount}} interested</p>
    <label>Tags:</label>
      <ul class="tagList">
        {{#each tags}}<li>{{this}}</li>{{/each}}
      </ul>
  </div>
  </a>
  {{/each}}
  {{/if}}
</div>
{{else}}
<h3>Welcome to Volunteer Finder!</h3>
<p>Here you can specify what makes you passionate about volunteer work and connect with non-profit organizations with aligning interests. If you work with an organization and would like to connect with willing volunteers, make an organization profile and find people interested. 
  <br>
  <br>First, navigate to 'New User' in the top-right corner of the screen and click 'log in'. Don't have an account? Click 'register' instead.</p>
<br>
<div id="recommendedOrgsDiv" class="displayOrgsDiv">
  <h2>Recommended Organizations</h2>
  <p> You must log in to see recommended organizations</p>
</div>
{{/if}}
<br>
<div id="mostInterestedOrgsDiv" class="displayOrgsDiv">
  <h2>Most Popular Organizations</h2>
  {{#each mostInterestedOrgs}}
  <a href="/organizations/{{o_id}}">
  <div class="displayOrg">
    <h3>{{name}}</h3> 
    <p>{{interestCount}} interested</p>
    <label>Tags:</label>
      <ul class="tagList">
        {{#each tags}}<li>{{this}}</li>{{/each}}
      </ul>
  </div>
  </a>
  {{/each}}
</div>