<div id="orgBanner">
    <img src="{{organization.bannerImg}}" alt="{{organization.name}} Banner">
</div>

<div id="orgInfo">
    <h1>{{organization.name}}</h1>
    {{#if owner}}
    <a id="editOrgBtn" href="/editOrg:{{organization.o_id}}"><button>Edit Page</button></a>
    {{/if}}
    <button id="interestBtn"> {{organization.interestCount}} Interested </button>

    <div id="orgTags">
        <ul id="orgTagsList" ></ul>
    </div>

    {{#if organization.description}}
        <p>{{organization.description}}</p><br>
        <br>
    {{/if}}
    {{#if organization.contact}}
        <p>{{organization.contact}}</p><br>
        <br>
    {{#if organization.link}}
        <a href="{{organization.link}}">{{organization.name}} External Site</a>
    {{/if}}
    <label>Admin: <a href="/account/accountPage/{{adminInfo.a_id}}"><p>{{adminInfo.firstName}} {{adminInfo.lastName}}</p></a></label>
</div>

<div class="commentsDiv">
    <h2>Comments</h2>
    {{#if (listEmpty organization.comments)}}
    <p>No comments yet</p>
    {{else}}
    {{#each organization.comments}}
    <div class="comment">
        <p>{{this.body}}</p>
        <p class="writtenBy">By <a href="/account/accountPage/{{author.a_id}}">{{author.firstName}} {{author.lastName}}</a></p>
    </div>
    {{/each}}
    {{/if}}
    <a href="'/organizations/{{o_id}}/comment'"><button>Write a Comment</button></a>
    
</div>

<div class="reviewsDiv">
    <h2>Reviews</h2>
    {{#if (listEmpty organization.comments)}}
    <p>No reviews yet</p>
    {{else}}
    {{#each organization.reviews}}
    <div class="review">
        <h3>{{rating}}/10</h3>
        <p>{{this.body}}</p>
        <p class="writtenBy">By <a href="/account/accountPage/{{author.a_id}}">{{author.firstName}} {{author.lastName}}</a></p>
    </div>
    {{/each}}
    {{/if}}
    <a href="'/organizations/{{o_id}}/comment'"><button>Write a Review</button></a>
</div>










