<p>This is the Organization Admin page. Here you create and manage your organizations.</p>
<br>
<div id="ownedOrganizations" class="displayOrgsDiv">
    <h2>Your Organizations</h2>
    {{#if ownedOrgs}}
    {{#each ownedOrgs}}
    <div class="displayOrg halfDiv">
      <div class="leftDiv">
        <h3>{{name}}</h3>
        <p>{{interestCount}} interested</p>
        <a href="/organizations/{{o_id}}" class="button">Organization Profile</a>
        <br>
        <br>
        <a href="/organizations/{{o_id}}/edit" class="button">Edit Organization</a> 
        <br>
        <br>
        <a href="/organizations/{{o_id}}/delete" class="button important">Delete Organization</a>
      </div>

      <div class="rightDiv">
        <label>Interested Accounts</label>
        <ul class="accountList">
          {{#if (listEmpty interestedAccounts)}}
          <li>No one yet... Check back later!</li>
          {{else}}
          {{#each interestedAccounts}}
          <li><a href="/account/accountPage/{{a_id}}">{{firstName}} {{lastName}}</a></li>
          {{/each}}
          {{/if}}
        </ul>
      </div>
    </div>
    {{/each}}
    {{else}}
    <p>You do not have any of your own organizations right now.</p>
    {{/if}}
    <a href="/createOrg" class="button">Create Organization</a>
  </div>
